@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* 全体のスタイル */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.background-tiles {
    background-image: url('/watermark.jpg'); /* ルートディレクトリからの相対パス */
    background-repeat: repeat;
}


/* h1要素にフォーカスが当たったときのスタイル */
h1:focus {
    outline: none;
}

/* リンクと.btn-linkクラスのスタイル */
a, .btn-link {
    color: #0071c1;
}

/* .btn-primaryクラスのスタイル */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* フォーカス時のボタンなどのスタイル */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* コンテンツの上部にパディングを追加 */
.content {
    padding-top: 1.1rem;
}

/* 修正された有効な入力要素のスタイル */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

/* 無効な入力要素のスタイル */
.invalid {
    outline: 1px solid red;
}

/* バリデーションメッセージのスタイル */
.validation-message {
    color: red;
}

/* エラーメッセージ表示部分のスタイル */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    /* エラーメッセージの閉じるボタンのスタイル */
    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Blazorエラー境界部分のスタイル */
.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    /* エラーメッセージ表示部分のコンテンツ */
    .blazor-error-boundary::after {
        content: "An error has occurred.";
    }

/* バナーのスタイル */
.banner {
    background-color: #8a2be2; /* 背景色を薄紫に設定 */
    padding: 40px 10px; /* 上下の余白を大きくする */
    margin-bottom: 20px; /* 下側の余白を追加 */
}


/* チャンネル名のスタイル */
.channel-name {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; /* タイトルの帯の下部にマージンを追加 */
}

/* ボタンのスタイル */
.buttons {
    text-align: center; /* ボタンを中央揃えにする */
    margin-top: 40px; /* ボタンの上部にマージンを追加 */
}

/* サイドバーの削除 */
.thread {
    margin-top: 20px; /* スレッドの上部にマージンを追加 */
}

.sidebar {
    display: none; /* サイドバーの非表示 */
}

/* メインコンテンツのスタイル */
.main {
    margin-left: 0; /* サイドバーの幅を考慮しない */
}

/* 検索ボックスのスタイル */
.search {
    margin-bottom: 20px; /* 検索欄と新規スレッド投稿ボタンの間にマージンを追加 */
}

.search {
    text-align: center; /* 検索欄と検索ボタンを中央揃えにする */
}

    .search input[type="text"],
    .search button {
        margin: 0 auto; /* 検索欄と検索ボタンを水平方向に中央揃えにする */
    }

/* ボタンの共通スタイル */
.button, .buttons button {
    background-color: blue; /* ボタンの背景色を青色に設定 */
    color: white; /* ボタンのテキスト色を白色に設定 */
    border: none; /* ボタンの枠線を削除 */
    padding: 10px 20px; /* ボタンのパディングを設定 */
    border-radius: 5px; /* ボタンの角を丸める */
    margin: 10px 10px 10px 0; /* 右側のボタンのみに右側のマージンを追加 */ /* 上部のマージンを追加 */
    margin-left: 10px; /* ボタンの左側にマージンを追加 */
}


/*=============
.bg_pattern
==============*/

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe9a7;
    opacity: 0.4;
    z-index: -1;
}

.Cross {
    background: radial-gradient(circle, transparent 20%, #ccc 20%, #ccc 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ccc 20%, #ccc 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#eee 4px, transparent 4px) 0 -2px, linear-gradient(90deg, #eee 4px, #ccc 4px) -2px 0;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

/*=============
base
==============*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: .025em;
    line-height: 1.8;
}

* {
    box-sizing: border-box;
}

.section {
    max-width: 1024x;
    margin: 0 auto;
    padding: 100px 20px 1000px;
}

._a {
    max-width: 300px;
    margin: 0 auto;
}

    ._a a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2.0em 1.0em;
        border: 1px solid #222222;
        background: linear-gradient(to right, #ffffff 50%, #222222 50%);
        background-size: 200% auto;
        color: #222222;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        transition: .3s;
        position: relative;
    }

        ._a a:after {
            content: "";
            position: absolute;
            right: -5px;
            bottom: -5px;
            width: 100%;
            height: 100%;
            border-right: 1px solid #222222;
            border-bottom: 1px solid #222222;
        }

        ._a a:hover {
            color: #ffffff;
            background-position: -100% 0;
        }


*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-border {
    margin-bottom: 12px;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0;
}

    a.btn-border span {
        position: relative;
        display: block;
        padding: 1.25rem 3rem;
        color: #000;
        border: 2px solid #000;
        border-radius: 0.5rem;
        background: #fff;
    }

    a.btn-border:before {
        position: absolute;
        bottom: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 14px;
        content: "";
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 2px solid #000;
        border-top: 1px solid #000;
        border-radius: 0 0 0.5rem 0.5rem;
        background-image: -webkit-repeating-linear-gradient( 135deg, #000, #000 1px, transparent 2px, transparent 5px );
        background-image: repeating-linear-gradient( -45deg, #000, #000 1px, transparent 2px, transparent 5px );
        background-size: 7px 7px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    a.btn-border:hover {
        -webkit-transform: translate(0, 3px);
        transform: translate(0, 3px);
    }

        a.btn-border:hover:before {
            bottom: -5px;
        }

    a.btn-border:active {
        -webkit-transform: translate(0, 7px);
        transform: translate(0, 7px);
    }

        a.btn-border:active:before {
            bottom: -1px;
        }











    .buttons button:first-child {
        margin-left: 0; /* 最初のボタンにはマージンを追加しない */
    }

    /* 特別なボタン（占いボタン）のスタイル */
    .button.special {
        background-color: purple; /* 特別なボタン（占いボタン）の背景色を紫色に設定 */
    }




/*ここからスレッドページのCSS*/
/* 薄紫の帯 */
.purple-band {
    background-color: #8a2be2; /* 背景色を薄紫に設定 */
    padding: 40px 10px; /* 上下の余白を大きくする */
    margin-bottom: 20px; /* 下側の余白を追加 */
}

    /* ボタン */
    .purple-band button {
        background-color: #007bff; /* ボタンの背景色を青に設定 */
        border-color: #007bff; /* ボタンのボーダー色を青に設定 */
        border-radius: 20px; /* ボタンの角を丸くする */
    }

        /* ボタンにマウスを重ねたときのスタイル */
        .purple-band button:hover {
            background-color: #0056b3; /* マウスを重ねたときの背景色を濃い青に設定 */
            border-color: #0056b3; /* マウスを重ねたときのボーダー色を濃い青に設定 */
        }

/* コメント枠 */
.message-container {
    border: 1px solid #ced4da; /* 枠線のスタイル */
    border-radius: 0.25rem; /* 角丸 */
    background-color: rgba(46, 139, 87, 0.1); /* より濃い緑色 */
    padding: 10px; /* 内側の余白 */
    margin-top: 10px; /* 上部のマージン */
}



.comment-form {
    margin-top: 1.25rem; /* 上部マージンを設定 */
}

    .comment-form .form-group {
        margin-bottom: 0.5rem; /* フォームグループの下部マージンを設定 */
    }

    .comment-form textarea {
        height: 150px; /* 高さを固定 */
        resize: none; /* リサイズを無効化 */
        width: 100%; /* 幅を100%に設定 */
    }

    .comment-form input[type="text"] {
        width: 250px; /* 名前入力欄の幅を指定 */
    }

    .comment-form button {
        width: calc(150px + 10px); /* 幅を計算して設定（名前入力欄の幅とマージンを考慮） */
        margin-left: 10px; /* 入力欄との間に10pxのマージンを設定 */
    }






/*ここからスレッド作成ページの編成*/
.thread-creation-page {
    /* 画面全体をカバーするように設定 */
    width: 100%;
    height: 100%;
}

.header {
    background-color: #8a2be2; /* 背景色を薄紫に設定 */
    padding: 40px 10px; /* 上下の余白を大きくする */
    margin-bottom: 20px; /* 下側の余白を追加 */
    justify-content: center; /* 中央に配置 */
    align-items: center;
    border-radius: 15px; /* 角を丸める */
}

    .header button {
        /* ボタンのスタイルを設定 */
        background-color: #007bff; /* 青色 */
        border: none;
        border-radius: 10px; /* 角を丸める */
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        color: white;
    }

.channel-name {
    /* チャンネル名のスタイルを設定 */
    font-size: 24px;
    font-weight: bold;
}


.thread-creation-form {
    margin-top: 20px;
    text-align: center; /* センター配置 */
}

    .thread-creation-form h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

.input-group {
    display: flex;
    align-items: center;
    justify-content: center; /* 中央寄せ */
    margin-bottom: 10px;
}

    .input-group label {
        flex: 0 0 auto; /* ラベルの幅は自動 */
        width: 150px; /* ラベルの最小幅 */
        text-align: right; /* ラベルを右寄せ */
        margin-right: 10px;
    }

.textarea-label {
    align-self: flex-start; /* ラベルを左上に配置 */
}

.input-group input, .input-group textarea {
    flex: 1; /* 入力欄を残りのスペースを占めるように */
    max-width: 300px; /* 入力欄の最大横幅を設定 */
    width: 100%; /* 入力欄を可能な限り広げる */
    padding: 5px;
    text-align: left; /* 入力欄は左詰め */
}

.clear-button {
    margin-top: 10px; /* ボタンと他の要素の間隔を設定 */
    padding: 5px 10px;
    background-color: #ff0000; /* 赤色 */
    color: #fff; /* 白色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .clear-button:hover {
        background-color: #cc0000; /* ホバー時の色 */
    }









/*オンオフスイッチ
*/*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

.btn-switch {
    width: 148px;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: -webkit-gradient( linear, left top, left bottom, from(#444), to(#222) );
    background: -webkit-linear-gradient(top, #444, #222);
    background: linear-gradient(180deg, #444, #222);
    -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0), 0 0 3px 1px black, inset 0 8px 4px -8px white;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0), 0 0 3px 1px black, inset 0 8px 4px -8px white;
}

    .btn-switch input {
        display: none;
    }

.btn-switch-bg {
    width: 108px;
    height: 210px;
    padding: 4px 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 5px;
    background-color: #370305;
    background-image: -webkit-linear-gradient( 0deg, transparent 30%, transparent 70% ), -webkit-linear-gradient(0deg, rgba(150, 150, 150, 0) 30%, rgba( 150, 150, 150, 0.1 ) 50%, rgba(150, 150, 150, 0) 70%);
    -webkit-box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.3), -30px 30px 30px -20px rgba(0, 0, 0, 0.3), 0 30px 30px 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 #333;
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.3), -30px 30px 30px -20px rgba(0, 0, 0, 0.3), 0 30px 30px 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 #333;
}

.btn-switch-in {
    position: relative;
    display: block;
    width: 100px;
    height: 178px;
    -webkit-transition: all 0.2s;
    border-radius: 10px;
    background-image: -webkit-gradient( linear, left bottom, left top, from(#8c1313), color-stop(84%, #ff2a2a) );
    background-image: -webkit-linear-gradient(bottom, #8c1313 0%, #ff2a2a 84%);
    background-image: linear-gradient(to top, #8c1313 0%, #ff2a2a 84%);
    -webkit-box-shadow: inset 0 20px 60px -200px rgba(240, 0, 0, 0.2), inset 8px 6px 5px -7px #f95253, inset -8px 6px 5px -7px #f95253, inset 0 -3px 2px -2px rgba(200, 200, 200, 0.5), 0 3px 3px -2px #f95253, inset 0 230px 60px -200px rgba(255, 255, 255, 0.2), 0 -20px 50px 10px rgba(240, 0, 0, 0.3);
    box-shadow: inset 0 20px 60px -200px rgba(240, 0, 0, 0.2), inset 8px 6px 5px -7px #f95253, inset -8px 6px 5px -7px #f95253, inset 0 -3px 2px -2px rgba(200, 200, 200, 0.5), 0 3px 3px -2px #f95253, inset 0 230px 60px -200px rgba(255, 255, 255, 0.2), 0 -20px 50px 10px rgba(240, 0, 0, 0.3);
}

    .btn-switch-in .on {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        text-align: center;
        opacity: 1;
        color: #fff;
        text-shadow: 0 0 5px #ffc7c7, 0 0 5px #ffc7c7, 0 0 5px #ffc7c7, 0 0 5px #ffc7c7;
    }

    .btn-switch-in .off {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: scaleY(0.9);
        transform: scaleY(0.9);
        text-align: center;
        opacity: 0.5;
        color: #500101;
    }

.btn-switch input:checked + .btn-switch-bg .on {
    height: 20px;
    -webkit-transform: scaleY(0.85);
    transform: scaleY(0.85);
    opacity: 0.6;
    color: #500101;
    text-shadow: none;
}

.btn-switch input:checked + .btn-switch-bg .off {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 0.5;
}

.btn-switch input:checked + .btn-switch-bg .btn-switch-in {
    margin-top: 20px;
    background-image: -webkit-gradient( linear, left bottom, left top, from(#f95253), color-stop(74%, #b40000) );
    background-image: -webkit-linear-gradient(bottom, #f95253 0%, #b40000 74%);
    background-image: linear-gradient(to top, #f95253 0%, #b40000 74%);
    -webkit-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.5), inset 8px -4px 5px -7px black, inset -8px -4px 5px -7px black, 0 -3px 8px -4px rgba(250, 250, 250, 0.4), inset 0 3px 4px -2px #0a0a0a, inset 0 280px 40px -200px rgba(0, 0, 0, 0.2), inset 0 -200px 40px -200px rgba(180, 180, 180, 0.2);
    box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.5), inset 8px -4px 5px -7px black, inset -8px -4px 5px -7px black, 0 -3px 8px -4px rgba(250, 250, 250, 0.4), inset 0 3px 4px -2px #0a0a0a, inset 0 280px 40px -200px rgba(0, 0, 0, 0.2), inset 0 -200px 40px -200px rgba(180, 180, 180, 0.2);
}

.btn-switch input:checked + .btn-switch-bg {
    background-image: -webkit-linear-gradient(90deg, #000 30%, transparent 70%), -webkit-linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba( 250, 250, 250, 0.5 ) 50%, rgba(150, 150, 150, 0) 100%);
    -webkit-box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.1), -30px 30px 30px -20px rgba(0, 0, 0, 0.1), 0 30px 30px 0 rgba(0, 0, 0, 0.2), inset 0 1px 2px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.1), -30px 30px 30px -20px rgba(0, 0, 0, 0.1), 0 30px 30px 0 rgba(0, 0, 0, 0.2), inset 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

#onoff,
.btn-switch-bg,
.btn-switch-in,
.on,
.off {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}